<h2>Boat Race</h2>
<div id="timer"></div>
<ul>
</ul>
<h4 class="add-new"><i class="icon-plus action-add-item"> Add New</i></h4>
<button class="btn btn-success action-race">Race</button>
<p class="lead">Add bearings to guide the boat around the four buoys and back to its original location in the quickest time possible.</p>
<footer><a href="http://blog.mrmeyer.com">@ddmeyer</a> &amp; <a href="http://davemajor.net">@davemajor</a></footer>