<div class="row form-inline">
    Head
    <input name="distance" class="form-control input-small" type="number" value="{{distance}}"> 
    miles at 
    <input name="degrees" class="form-control input-small" type="number" min="0" max="360" step="1" value="{{degrees}}"> degrees
    
    <select class="form-control input-small" name="directionY" value="{{directionY}}">
      <option value="north">north</option>
      <option value="south">south</option>
    </select>
   of
    <select class="form-control input-small" name="directionX" value="{{directionX}}">
      <option value="east">east</option>
      <option value="west">west</option>
    </select>

<i class="icon-remove action-remove-item"></i>
</div>