<h2>Boat Race</h2>
<div id="timer"></div>
<ul>
</ul>
<h4 class="add-new action-add-item"><i class="icon-plus"></i> Add New</h4>
{{#if bretVictor}}
  <p class="lead" style="clear:both; margin-top:60px;">Add bearings and manipulate bearings above to see the how they effect the boat's path.</p>
{{else}}
  <button class="btn btn-success action-race">Race</button>
  <p class="lead">Add bearings to guide the boat around the buoys and back to its original location in the quickest time possible.</p>
  <p class="lead">The best times are: {{top}}.</p>
  <p class="lead">The worst times are: {{bottom}}.</p>
  <footer><a href="http://blog.mrmeyer.com">@ddmeyer</a> &amp; <a href="http://davemajor.net">@davemajor</a></footer>
{{/if}}