<h2>Boat Race</h2>
<ul>
</ul>
  <button class="btn btn-success action-race" disabled="disabled">Race</button>
<p class="lead">Click where the boat will be after it heads along these bearings.</p>
<footer><a href="http://blog.mrmeyer.com">@ddmeyer</a> &amp; <a href="http://davemajor.net">@davemajor</a></footer>