<h3>{{#if time }}<i class="icon-time"></i>&nbsp;{{time}} minutes{{/if}}&nbsp;</h3>
<p class="error inside-buoys">Your route took the boat inside the buoys! Try again.</p>
<p class="error too-short">You need to go around all of the buoys! Try again.</p>
<p class="error missed">You need to return the boat to its original location! Try again.</p>