@import 'nib'
@import '_base'

.bearingsList
    background-color: #fff
    height: 100%
    right: 0
    ul
        padding: 10px
        li
            list-style: none
            padding-bottom: 20px
            input
                width: 60px
            select
                width: 70px
.map
    height: 100%
    left: 0
    background-color: #A9C0D7
